{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marker Detail</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/leaflet/dist/leaflet.css"
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet/dist/leaflet.js"
      crossorigin=""
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'marker.css' %}"
    /> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
</head>
<body>
  <h1 id="supplier-name"> {{ supplier }}</h1>
    <label for="samples-select">Select Sample: </label>
    <select id="samples-select"></select>

    <button id="download-button">Download</button>

    <table id="samples-table">
        <thead>
            <tr>
              <th></th>
              <th data-column="sample_type">Sample Type</th>
              <th data-column="ID">ID</th>
              <th data-column="acquisition_date">Acquisition Date</th>
              <th data-column="sampling_date">Sampling Date</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <!-- Load the static files -->
    <script src="{% static 'marker.js' %}"></script>

</body>
</html>